<footer class="footer">
    <div class="recent-posts">
        <h2>Derniers articles</h2>
        <ul>
            {{ $dontRender :=  (slice "page" "quote" "link" "status") }}
            {{ range (first 7 (where .Site.Pages.ByPublishDate.Reverse ".Kind" "page")) }}
            <li> <a href="{{ .Permalink }}">{{ .Title }}</a> </li>
            {{ end }}
        </ul>
    </div>

    <div class="categories">
        <a href="{{ "/categories/" | relLangURL }}"><h2>Catégories</h2></a>
        <ul>
            {{ range $order, $taxonomy := .Site.Taxonomies.categories.Alphabetical }}
            <li>
                <a href="{{ (print "/categories/" ($taxonomy.Name | urlize)) | relLangURL }}">{{ $taxonomy.Name | humanize }}
                    <span class="categorie-count">{{ $taxonomy.Count }}</span></a>
            </li>
            {{ end }}
        </ul>
    </div>

    <div class="social">
        <h2>Contacts</h2>
        <ul>
            <li><a href="/index.xml"><i class="fa fa-rss"></i> Flux RSS</a></li>
            <li><i class="fa fa-envelope"></i> tom(chez)tcweb.org</li>
            <li><a rel="me" href="https://pleroma.tcweb.org/thomas"><i class="fa fa-mastodon"></i> Mastodon</a></li>
            <li><i class="fa fa-matrix-org"></i>@tclavier:matrix.org</li>
            <li><a href="https://gitlab.com/tclavier/"><i class="fa fa-gitlab"></i> Gitlab.com</a></li>
            <li><a href="https://video.ploud.fr/accounts/thomas/"><i class="fa fa-peertube"></i> Peertube</a></li>
            <li><a href="https://linkedin.com/in/thomasclavier/"><i class="fa fa-linkedin"></i> Linkedin</a></li>
        </ul>
    </div>

    {{ if (gt .Site.Languages 1) }}
    {{- $.Scratch.Set "language" .Language -}}
    <div class="languages">
        <h2>{{ i18n "otherLanguages" }}</h2>
        {{ range $.Site.Home.AllTranslations }}
        {{ if eq ($.Scratch.Get "language") .Language }}
        <a href="{{ .Permalink }}" class="active">{{ .Language }}</a>
        {{ else }}
        <a href="{{ .Permalink }}">{{ .Language }}</a>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}
</footer>


