<!-- Social Share Button HTML -->
{{ $title := .Title }}
{{ $url := printf "%s" .Permalink }}
{{ $body := print $title ", par " .Site.Params.author " sur " .Site.Title "\n\n" $url "\n" }}

<section class="social-share">
    <ul class="share-icons">
        <li>
            <a href="https://mastodon.libre-entreprise.com/?text={{ $body }}" target="_blank" class="share-btn share-mastodon">
                <i class="fa fa-mastodon"></i><span class="social-label">Mastodon</span>
            </a>
        </li>
        <!-- Twitter -->
        <li>
            <a href="https://twitter.com/intent/tweet?hashtags=codingnconcepts&amp;url={{ .Permalink }}&amp;text={{ .Title }}" target="_blank" rel="noopener" aria-label="Share on Twitter" class="share-btn share-twitter">
                <i class="fa fa-twitter"></i><span class="social-label">Twitter</span>
            </a>
        </li>

        <!-- LinkedIn -->
        <li>
            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ $url }}&amp;source={{ $url }}&amp;title={{ $title }}&amp;summary={{ $title }}" target="_blank" rel="noopener" aria-label="Share on LinkedIn" class="share-btn share-linkedin">
                <i class="fa fa-linkedin"></i><span class="social-label">Linkedin</span>
            </a>
        </li>

        <!-- Facebook -->
        <li>
            <a href="https://www.facebook.com/sharer.php?u={{ $url }}" target="_blank" rel="noopener" aria-label="Share on Facebook" class="share-btn share-facebook">
                <i class="fa fa-facebook"></i><span class="social-label">Facebook</span>
            </a>
        </li>

        <!-- WhatsApp -->
        <li>
            <a href="whatsapp://send?text={{ $body }}" target="_blank" class="share-btn share-whatsapp">
                <i class="fa fa-whatsapp"></i><span class="social-label">Whatsapp</span>
            </a>
        </li>

        <!-- Email -->
        <li>
            <a href="mailto:?subject={{ .Site.Title }} - {{ $title }}.&amp;body={{ $body }}" target="_blank" class="share-btn share-email">
                <i class="fa fa-envelope"></i><span class="social-label">Email</span>
            </a>
        </li>
    </ul>
</section>
