@import "./nord.scss";

@font-face {
    font-family: "Luciole";
    src: url('/fonts/Luciole-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Luciole";
    font-style: italic;
    src: url('/fonts/Luciole-Regular-Italic.ttf') format('truetype');
}

@font-face {
    font-family: "Luciole";
    font-weight: bold;
    src: url('/fonts/Luciole-Bold.ttf') format('truetype');
}

@font-face {
    font-family: "Luciole";
    font-style: italic;
    font-weight: bold;
    src: url('/fonts/Luciole-Bold-Italic.ttf') format('truetype');
}

body {
    background-color: $nord6;
    color: $nord0;
    margin: 0px;
    padding: 0px;
    font-family: Luciole, Open Sans, sans-serif;
}

a {
    color: $nord11;
    text-decoration: none;
}

.center {
    text-align: center;
}

.lettrine {
    margin-right:0.3em;
    float: left;
    font-size: 24px;
}

/* Color */

.red {
    color: $nord11;
}

.green {
    color: $nord14;
}

/* Article card */

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.card {
    flex: 0 0 380px;
    max-width: 380px;
    margin: 10px;
    border: 1px solid $nord4;
    box-shadow: 2px 2px 6px 0px  $nord4;
    overflow: hidden;
    background-color: white;
}

.card h2 {
    font-size: 1.3em;
    color: $nord10;
}

.card-text {
    padding: 1em;
}

/* Article single */

@media (min-width:992px) {
    .article-header {
        font-size: 3rem;
    }
    .footer {
        padding-left:15%;
        padding-right:15%;
    }
}

@media (max-width: 991px) {
    .article-header {
        font-size: 4vw;
    }
    .footer {
        padding-left:2rem;
        padding-right:2rem;
    }
}

.article-header {
    min-height: 60vh;
    background-size: cover;
    text-align: center;
    color: $nord6;
    padding: 5rem;
    position: relative;
    /*background-color: $nord0;*/
}

.article-meta {
    font-size: 1.2rem;
}

.article-meta author i,
.article-meta time i {
    font-size: 1.5rem;
}

.article-meta time {
    margin-top: 2rem;
    margin-left: 4rem;
}

.article-meta tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.article-meta tags a {
    color: $nord6;
    padding: 1rem;
    white-space: nowrap;
}


.article-cover {
    background-color: $nord0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
}

.article-text {
    display: block;
    margin-top: -4em;
    border: 1px solid $nord4;
    box-shadow: 2px 2px 6px 0px  $nord4;
    background-color: white;
    padding: 2em;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* Nav */

.main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-height: 10vh;
    padding: 2em;
    background-color: $nord4;
}

.main-nav img {
    height: 60px;
}

.main-nav .icon {
    height: 40px;
}

.sub-nav {
    display: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.sub-nav li {
    display: block;
    padding: 2rem;
    margin: 0px;
    list-style-type: none;
    font-size: 2em;
    background-color: $nord3;
    white-space: nowrap;
    flex: 1;
    text-align: center;
}

.sub-nav li:hover {
    background-color: $nord2;
}

.sub-nav a {
    color: $nord6;
}

#toggle-menu:checked ~ .sub-nav {
    display: flex;
}

#toggle-menu {
    display: none;
}

/* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left:0;
}

.pagination li {
    list-style-type: none;
}

.pagination li > span {
    display: block;
    padding: 0.4em;
    margin: 0.2em;
    font-size: 1.1em;
    min-width: 1.2em;
}

.pagination a {
    color: $nord0;
    display: block;
    padding: 0.4em;
    margin: 0.2em;
    font-size: 1.1em;
    border: 1px solid $nord4;
    box-shadow: 2px 2px 6px 0px  $nord4;
    background-color: white;
    border-radius: 25px;
    min-width: 1.2em;
    text-align: center;
}

.pagination .active a {
    background-color: $nord6;
}

.btn {
    display: block;
    border: 0;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.btn-primary {
    background-color: $nord10;
    color: $nord6;
}

@media (min-width:992px) {
    .desktop-only {
        display:block !important;
    }
    .mobile-only {
        display:none !important;
    }
}

@media (max-width: 991px) {
    .mobile-only {
        display:block !important;
    }

    .desktop-only {
        display:none !important;
    }
}

table {
   border-collapse: collapse;
}

td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

tr:not(:last-child) {    
    border-bottom: solid 1px $nord0;
}

tr:nth-child(even) {
    background-color: $nord6;
}

/* Social links */

.share-icons {
    margin-top: 2em;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    padding-left:0;
}

.share-icons li {
    list-style-type: none;
}

.share-icons a {
    color: $nord0;
    display: block;
    padding: 0.5em;
    margin: 0.2em;
    font-size: 1.3em;
    border: 1px solid $nord4;
    box-shadow: 2px 2px 6px 0px  $nord4;
    background-color: white;
    border-radius: 2em;
    min-width: 1.2em;
    text-align: center;
}

.share-icons a > span {
    display: none;
}

.share-mastodon:hover {
    background-color: $nord10;
    color: $nord6;
}

.share-twitter:hover {
    background-color: $nord10;
    color: $nord6;
}

.share-linkedin:hover {
    background-color: $nord10;
    color: $nord6;
}

.share-facebook:hover {
    background-color: $nord10;
    color: $nord6;
}

.share-whatsapp:hover {
    background-color: $nord14;
    color: $nord6;
}

.share-email:hover {
    background-color: $nord11;
    color: $nord6;
}


/* Merci + contribution */
.merci {
    background-color: $nord4;
    padding: 2rem;
    margin-top: 3em;
    margin-bottom: 1em;
    font-style:italic;
}

/* Footer */

.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $nord1;
    color: $nord4;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer ul {
    margin: 0;
    padding-left: 1em;
}

.footer li {
    list-style-type: none;
    padding: 0.3rem;
    margin: 0;
}

.footer a {
    color: $nord4;
}

.footer .categories a {
    display: flex;
    justify-content: space-between;
}

.footer a:hover {
    color: $nord6;
}

.categorie-count {
    display: inline-block;
    font-size: 0.8rem;
    background-color: $nord0;
    padding: 0.2rem;
    border-radius: 15px;
    min-width: 1.2rem;
    text-align: center;
    margin-left: 0.5em;
}

.footer i {
    padding: 0.5em;
    font-size: 1.2em;
    border-radius: 3em;
    min-width: 1.2em;
    text-align: center;
    background-color: $nord3;
}
