{{ define "main" }}
<article>
    {{ $brightness := .Params.cover.brightness }}
    {{ with .Params.images }}
    {{ $image := $.Resources.GetMatch (index . 0) }}
    <style>
        .article-cover {
            background-image: url('{{ $image.RelPermalink }}');
            {{ if $brightness }}
            filter: brightness({{ $brightness }});
            {{ end }}
        }
    </style>
    {{ end }}
    <header class="article-header">
        <h1>{{ .Title }}</h1>
        <div class="article-meta">
            <author><i class="fa fa-pencil" aria-hidden="true"></i> <small>Rédigé par</small> {{ .Site.Params.author }}</author>
            <time><i class="fa fa-calendar-o" aria-hidden="true"></i>  <small>Le</small> {{ .Date.Format "2/01/2006" }}</time>
            <tags>
            {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}"><i class="fa fa-hashtag" aria-hidden="true"></i>{{ .LinkTitle }}</a>
            {{ end }}
            </tags>
        </div>
        <div class="article-cover"></div>
    </header>
    <div class="article-text">
        {{ .Content }}
    </dev>
<article>

{{ partial "merci.html" . }}
{{ partial "socialshare.html" . }}
{{ end }}
