{{ partial "head.html" . }}
<body id="list">
  {{ partial "header.html" . }}
  <div class="container">
    <div class="row">
      <div class="posts col s8 offset-s2">
        <!-- Iterate over the pages -->
        {{ $paginator := $.Paginator }}
        {{range .Paginator.Pages }}
        <div class="post-preview">
          <span class="post-symbol {{ .Params.color }}">
            <i class="symbol fa fa-{{ .Params.icon }}"></i>
          </span>

          <div class="post-content">
            <h1 class="post-title">
              <a href="{{ .Site.BaseURL }}{{ .RelPermalink }}">{{ .Title }}</a>
            </h1>

            <span class="post-date">{{ .Date.Format "3 Janvier 2006" }}</span>

            <p>{{ .Description }}</p>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="posts col s8 offset-s2">
        <ul class="pagination" role="navigation">
          {{if .Paginator.HasPrev}}
          <li class="waves-effect"><a class="material-icons" href="{{ .Paginator.Prev.URL }}"><i class="material-icons">chevron_left</i></a></li>
          {{else}}
          <li class="disabled"><a class="material-icons" href="#"><i class="material-icons">chevron_left</i></a></li>
          {{end}}
          {{ range .Paginator.Pagers }}
          <li {{ if eq . $paginator }}class="active"{{else}}class="waves-effect"{{ end }}><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
          {{end}}
          {{if .Paginator.HasNext}}
          <li class="waves-effect"><a class="material-icons" href="{{ .Paginator.Next.URL }}"><i class="material-icons">chevron_right</i></a></li>
          {{else}}
          <li class="disabled"><a class="material-icons" href="#"><i class="material-icons">chevron_right</i></a></li>
          {{end}}
        </ul>
      </div>
    </div>
  </div>

  {{ partial "footer.html" . }}
</body>
</html>
