{{ $baseUrl := .Site.BaseURL }}
{{ partial "head.html" . }}
<body id="single">
  {{ partial "header.html" . }}

  <section class="post-symbol {{ .Params.color }}">
    <i class="symbol fa fa-{{ .Params.icon }}"></i>
    <p class="description">{{ .Description }}</p>
  </section>

  <div class="container">
    <div class="row">
      <div class="posts col l8 m12 s12 offset-l2">
        <div class="post">
          <h1>{{ .Title }}</h1>
          <span class="post-date">{{ .Date.Format "2 Jan 2006" }}</span>
          {{ .Content }}
        </div>
        {{ if .Params.tags }}
        <div>
          {{ range .Params.tags }}
          <a class="waves-effect waves-light btn" href="{{ $baseUrl }}/tags/{{ . }}">{{ . }}</a>
          {{ end }}
        </div>
        {{ end }}

        {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>

</body>
</html>
